.options {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: var(--space-6);
  row-gap: var(--space-2);
}

.options div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-0);
}

.options div label {
  text-align: right;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-2);
}