:root {
  /* Color - Brand */
  --clr-brand-50: #eff6ff;
  --clr-brand-100: #dbeafe;
  --clr-brand-200: #bfdbfe;
  --clr-brand-300: #93c5fd;
  --clr-brand-400: #60a5fa;
  --clr-brand-500: #3b82f6;
  --clr-brand-600: #2563eb;
  --clr-brand-700: #1d4ed8;
  --clr-brand-800: #1e40af;
  --clr-brand-900: #1e3a8a;
  
  /* Color - Accent */
  --clr-accent-50: #faf5ff;
  --clr-accent-100: #f3e8ff;
  --clr-accent-200: #e9d5ff;
  --clr-accent-300: #d8b4fe;
  --clr-accent-400: #c084fc;
  --clr-accent-500: #a855f7;
  --clr-accent-600: #9333ea;
  --clr-accent-700: #7e22ce;
  --clr-accent-800: #6b21a8;
  --clr-accent-900: #581c87;
  
  /* Color - Grays */
  --clr-white: #ffffff;
  --clr-gray-50: #f9fafb;
  --clr-gray-100: #f3f4f6;
  --clr-gray-200: #e5e7eb;
  --clr-gray-300: #d1d5db;
  --clr-gray-400: #9ca3af;
  --clr-gray-500: #6b7280;
  --clr-gray-600: #4b5563;
  --clr-gray-700: #374151;
  --clr-gray-800: #1f2937;
  --clr-gray-900: #111827;
  --clr-black: #000000;
  
  /* Color - Success */
  --clr-success-50: #f0fdf4;
  --clr-success-100: #dcfce7;
  --clr-success-200: #bbf7d0;
  --clr-success-300: #86efac;
  --clr-success-400: #4ade80;
  --clr-success-500: #22c55e;
  --clr-success-600: #16a34a;
  --clr-success-700: #15803d;
  --clr-success-800: #166534;
  --clr-success-900: #14532d;
  
  /* Color - Warning */
  --clr-warning-50: #fefce8;
  --clr-warning-100: #fef9c3;
  --clr-warning-200: #fef08a;
  --clr-warning-300: #fde047;
  --clr-warning-400: #facc15;
  --clr-warning-500: #eab308;
  --clr-warning-600: #ca8a04;
  --clr-warning-700: #a16207;
  --clr-warning-800: #854d0e;
  --clr-warning-900: #713f12;
  
  /* Color - Danger */
  --clr-danger-50: #fef2f2;
  --clr-danger-100: #fee2e2;
  --clr-danger-200: #fecaca;
  --clr-danger-300: #fca5a5;
  --clr-danger-400: #f87171;
  --clr-danger-500: #ef4444;
  --clr-danger-600: #dc2626;
  --clr-danger-700: #b91c1c;
  --clr-danger-800: #991b1b;
  --clr-danger-900: #7f1d1d;
  
  /* Responsive Font Sizes */
  --font-size-xs: clamp(0.70rem, 0.69rem + 0.05vw, 0.75rem);
  --font-size-sm: clamp(0.75rem, 0.725rem + 0.125vw, 0.875rem);
  --font-size-base: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
  --font-size-lg: clamp(1rem, 0.975rem + 0.125vw, 1.125rem);
  --font-size-xl: clamp(1.125rem, 1.1rem + 0.125vw, 1.25rem);
  --font-size-2xl: clamp(1.25rem, 1.2rem + 0.25vw, 1.5rem);
  --font-size-3xl: clamp(1.5rem, 1.425vw + 0.375vw, 1.875rem);
  --font-size-4xl: clamp(1.875rem, 1.8vw + 0.375vw, 2.25rem);
  --font-size-5xl: clamp(2.25rem, 2.1rem + 0.75vw, 3rem);
  --font-size-6xl: clamp(3rem, 2.85rem + 0.75vw, 3.75rem);
  
  /* Font Weights */
  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  
  /* Box Shadows */
  --box-shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --box-shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --box-shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --box-shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --box-shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  
  /* Border Width */
  --border-width-0: 0px;
  --border-width-2: 2px;
  --border-width-4: 4px;
  --border-width-8: 8px;
  
  /* Border Radius */
  --border-radius: 0.25rem;
  --border-radius-md: 0.375rem;
  --border-radius-lg: 0.5rem;
  --border-radius-xl: 0.75rem;
  --border-radius-2xl: 1rem;
  --border-radius-3xl: 1.5rem;
  --border-radius-full: 9999px;
  
  /* Breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  
  /* Animations */
  --fade-in: fade-in 0.5s ease-in;
  
  /* Transitions */
  --transition-duration: 0.25s;
  --transition-duration-fast: 0.125s;
  --transition-timing-function: ease-in;
}

* {
  animation: var(--fade-in);
  box-sizing: border-box;
  /* color: ; */
  font-size: var(--font-size-base);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira, Sans, Droid Sans, Helvetica Neue, sans-serif;
  list-style: decimal inside;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--clr-gray-200);
}
  
@keyframes fade-in {
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
}
  
a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--clr-brand-700);
}
  
/*** BUTTONS ***/
  
button {
  background-color: var(--clr-brand-500);
  border-radius: var(--border-radius);
  border: var(--border-width-2) solid var(--clr-brand-500);
  color: var(--clr-gray-50);
  cursor: pointer;
  padding: 0.5rem 1rem;
  user-select: none;
  width: fit-content;
}
  
button:active {
  transform: translateY(0.125rem);
}
  
/* Rounded Buttons */
  
button.rounded {
  border-radius: var(--border-radius-full);
}
  
/* Button With Icon */
  
button.with-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
  
/* Outlined Buttons */
  
button.outlined {
  background-color: transparent;
  border-color: var(--clr-brand-600);
  color: var(--clr-brand-600);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}
  
button.outlined:hover {
  background-color: var(--clr-brand-100);
}
  
/* Text Buttons */
  
button.text {
  background-color: transparent;
  border-color: transparent;
  color: var(--clr-brand-700);
  transition-duration: var(--transition-duration);
  transition-property: background-color, border-color;
  transition-timing-function: var(--transition-timing-function);
}
  
button.text:hover {
  background-color: var(--clr-brand-100);
  border-color: var(--clr-brand-100);
}
  
/* Success Buttons */
  
button.success {
  background-color: var(--clr-success-600);
  border-radius: var(--border-radius);
  border: var(--border-width-2) solid var(--clr-success-600);
  color: var(--clr-gray-50);
}
  
button.outlined-success {
  background-color: transparent;
  border-color: var(--clr-success-600);
  color: var(--clr-success-600);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}
  
button.outlined-success:hover {
  background-color: var(--clr-success-100);
}
  
button.text-success {
  background-color: transparent;
  border-color: transparent;
  color: var(--clr-success-700);
  transition-duration: var(--transition-duration);
  transition-property: background-color, border-color;
  transition-timing-function: var(--transition-timing-function);
}
  
button.text-success:hover {
  background-color: var(--clr-success-100);
  border-color: var(--clr-success-100);
}
  
/* Danger Buttons */
  
button.danger {
  background-color: var(--clr-danger-600);
  border-radius: var(--border-radius);
  border: var(--border-width-2) solid var(--clr-danger-600);
  color: var(--clr-gray-50);
}
  
button.outlined-danger {
  background-color: transparent;
  border-color: var(--clr-danger-600);
  color: var(--clr-danger-600);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}
  
button.outlined-danger:hover {
  background-color: var(--clr-danger-100);
}
  
button.text-danger {
  background-color: transparent;
  border-color: transparent;
  color: var(--clr-danger-700);
  transition-duration: var(--transition-duration);
  transition-property: background-color, border-color;
  transition-timing-function: var(--transition-timing-function);
}
  
button.text-danger:hover {
  background-color: var(--clr-danger-100);
  border-color: var(--clr-danger-100);
}
  
/*** INPUTS ***/
  
input {
  background-color: var(--clr-gray-100);
  border-radius: var(--border-radius);
  border: var(--border-width-2) solid var(--clr-gray-200);
  padding: 0.5rem;
  transition-duration: var(--transition-duration);
  transition-property: background-color, border-bottom, border-color;
  transition-timing-function: var(--transition-timing-function);
}
  
input:focus {
  background-color: var(--clr-brand-50);
  border-bottom: var(--border-width-2) solid var(--clr-brand-800);
  color: var(--clr-brand-800);
  outline: none;
}

input::placeholder {
  color: var(--clr-gray-400);
}

/*** CARDS ***/

.card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  background-color: var(--clr-white);
  border-radius: var(--border-radius-lg);
  box-shadow: var(--box-shadow-xl);
  height: fit-content;
  padding: 1.75rem;
}

/*** SECTION WRAPPER ***/

.section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.section-wrapper > :first-child {
  text-align: center;
}

/*** LIST ***/

ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
