.wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-bottom: 4rem;
  max-width: 1600px;
  margin: 0 auto;
}

.wrapper > h1 {
  font-size: var(--font-size-4xl);
  padding-bottom: 0.5rem;
}
